/* Semantic UI overrides */
/* =================================== */

.ui.progress .bar {
  /* Darkly theme fix. */
  margin-top: 7px !important;
}

/* Fixes overly bright dropdown borders. */
.ui.selection.active.dropdown .menu, .ui.selection.active.dropdown {
  border-color: #282828 !important;
}

/* Fixes overly bright dropdown borders. */
.ui.selection.dropdown .menu > .item {
  border-top: 1px solid #282828 !important;
}

.ui.dropdown {
  border-color: #282828 !important;
}

/* Fixes inverse-colour form colours. */
.ui.form input:not([type]), .ui.form input {
  color: #fff !important;
  background-color: #303030 !important;
  border-color: #282828 !important;
}

/* Overrides toast message position to better fit the board */
.ui-alerts.top-right {
  position: fixed;
  top: 18px;
  right: 15%;
  min-width: 270px;
  z-index: 100;
}

.ui-alerts.top-right i {
  font-size: 14pt !important;
}

.ui.sidebar .item {
  text-align: left !important;
}

.ui.top.fixed.menu {
  min-height: 48px;
  height: 48px;
  padding-top: 2px;
}

.ui.top.fixed.menu a {
  padding-top: 10px;
}

.ui.grid.inverted {
  color: black;
  background-color: white;
}

.sidebar.icon {
  font-size: 12pt !important;
}

.sidebar .item {
  color: white !important;
}

.ui.segment.inverted,
.ui.segment.inverted > .ui.header,
.ui.segment.inverted > .ui.form .field > label {
  color: black;
  background-color: white;
}

.ui.segment.inverted > .ui.form .field > input {
  color: black !important;
  background-color: white !important;;
}

.accordion.ui.inverted, .accordion.ui.inverted > .title {
  color: #000 !important;
}

.ui.dimmer {
  background-color: rgb(0 0 0 / 50%);
}

/* Work around for unresolved semantic bug (#6267) where modals get cut off at
   the top. */
.ui.scrolling.modal {
  transform: translateY(-3%);
}
