/* Semantic UI overrides */
/* =================================== */

.ui.progress .bar {
  /* Darkly theme fix. */
  margin-top: 7px !important;
}

/* Fixes overly bright dropdown borders. */
.ui.selection.active.dropdown .menu, .ui.selection.active.dropdown {
  border-color: #282828 !important;
}

/* Fixes overly bright dropdown borders. */
.ui.selection.dropdown .menu > .item {
  border-top: 1px solid #282828 !important;
}

.ui.dropdown {
  border-color: #282828 !important;
}

/* Fixes inverse-colour form colours. */
.ui.form input:not([type]), .ui.form input {
  color: #fff !important;
  background-color: #303030 !important;
  border-color: #282828 !important;
}

/* Overrides toast message position to better fit the board */
.ui-alerts.top-right {
  position: fixed;
  top: 18px;
  right: 15%;
  min-width: 270px;
  z-index: 100;
}

.ui-alerts.top-right i {
  font-size: 14pt !important;
}

.ui.sidebar .item {
  text-align: left !important;
}

.ui.top.fixed.menu {
  min-height: 48px;
  height: 48px;
  padding-top: 2px;
}

.ui.top.fixed.menu a {
  padding-top: 10px;
}

.ui.grid.inverted {
  color: black;
  background-color: white;
}

.sidebar.icon {
  font-size: 12pt !important;
}

.sidebar .item {
  color: white !important;
}

.ui.inverted.form label,
.ui.segment.inverted,
.ui.segment.inverted > .ui.header,
.ui.segment.inverted > .ui.form .field > label {
  color: black;
  background-color: white;
}

.ui.segment.inverted > .ui.form .field > input {
  color: black !important;
  background-color: white !important;;
}

.accordion.ui.inverted, .accordion.ui.inverted > .title {
  color: #000 !important;
}

.ui.dimmer {
  background-color: rgb(0 0 0 / 50%);
}

/* Dark mode fix. */
.inverted .ui.loader:before {
  border-color: #e0e0e0 !important;
}

.inverted .ui.loader:after {
  border-color: #212121 transparent transparent !important;
}

.ui.inverted.input > input {
  color: #000 !important;
  background-color: #fff !important;
}

.inverted.popup {
  -webkit-box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15) !important;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15) !important;
}

.inverted.popup, .inverted.popup:before, .inverted.popup > .content {
  color: #000 !important;
  background-color: #fff !important;
}

/* Slow the default down loader, which is quite frantic. */
.ui.loader:after {
  animation: loader 6.25s linear infinite;
}

/* Work around for unresolved semantic bug (#6267) where modals get cut off at
   the top. */
.ui.scrolling.modal {
  transform: translateY(-3%);
}

/* Fix issue where collapsed mobile views send columns off-screen. */
@media only screen and (max-width: 767px) {
  .column {
    margin-right: 15px;
  }

  .mobile-margin-fix {
    margin-left: 15px;
    margin-right: 0;
  }
}

/* Customise tabular menus. They're way to thick. */
.ui.attached.tabular.menu {
  min-height: 30px;
  height: 38px;
}

.ui.tabular.menu .active.item {
  border-radius: 0 !important;
  border: none;
  border-bottom: 4px solid #a5f1b1;
}

.ui.inverted.bottom.attached.segment.active.tab {
  border-radius: 0;
  border: none;
}

/* Default is crazy thick. Let's be a bit more.. gentle. */
.thin-dropdown .menu.transition.visible .item {
  height: 24px;
  padding: 18px !important;
}

/* Unreadably dark menu headings - lighten it up a bit. */
.menu.transition.visible .header {
  color: #cdcdcd;
}

/* Add a light mode for dropdowns (Semantic has no inverted built in) */
/* ------------------------------------------------------------------ */

.ui.button.labeled.dropdown.icon.dropdown-light-mode {
  background-color: #efefef;
  color: #000;
  border: thin solid #747474 !important;
}

.dropdown-light-mode .ui.dropdown,
.dropdown-light-mode .menu.transition.visible {
  color: #000 !important;
  background-color: #f8f8f8 !important;
  border: thin solid #d7d7d7;
}

.dropdown-light-mode .dropdown .text,
.dropdown-light-mode .menu.transition.visible .header,
.dropdown-light-mode .menu.transition.visible .item {
  color: #2d2d2d !important;
}

/* NixieChat-specific stuff */
/* =================================== */

/* Hide border on active contentEditiable. */
.advanced-editable:read-write:focus {
  outline: none;
}

/* contentEditiables don't support placeholders by default. This enables it. */
.advanced-editable:empty::before {
  content: attr(placeholder);
  color: #555;
}

/* Probably no longer need this; can fake a caret on blurred inputs. */
/*.advanced-editable:empty:not(:focus)::before {*/
/*  content: "|";*/
/*}*/

/* Thin out the scrollbars for browsers that support scrollbar-width. */
/* TODO: Allow the user to disable this. */
.plain-editable, .advanced-editable {
  scrollbar-width: thin;
}

/* Thin out the scrollbars for browsers that support -webkit-scrollbar. */
/* TODO: Allow the user to disable this. */
.plain-editable::-webkit-scrollbar,
.advanced-editable::-webkit-scrollbar {
  width: 2px;
}
